$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 980px,
  small-logo: 1080px,
  small-text-primary: 0,
  small-text-secondary: 1080px
);

// Make secondary smaller to account for to many items
$theme-site-navbar-secondary-font-size: 16px !default;
// make small logo smaller to account for sponsored search.
// $theme-site-navbar-logo-height-sm: 24px;

// Colors
$primary: #8fb019;

$leaders-primary-color: #35bbe7;
$leaders-primary-color-light: #023749;
$leaders-accent-color: #d557af;

@import "../../node_modules/@pmmi-media-group/package-global/scss/core";
