$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Make secondary smaller to account for to many items
$theme-site-navbar-secondary-font-size: 16px !default;
// make small logo smaller to account for sponsored search.
// $theme-site-navbar-logo-height-sm: 24px;

// Colors
$primary: #ce2126;

$leaders-primary-color: #ce2126;
$leaders-primary-color-light: #e14146;
$leaders-accent-color: #007557;

// Navbar
$navbarStyle: "navbar-b" !default;
$theme-site-navbar-primary-type: light;
$theme-site-navbar-logo-height: 75px !default;
$theme-site-navbar-secondary-font-size: 16px !default;

@import "@pmmi-media-group/package-global/scss/core";

.site-navbar {
  &__right {
    .site-navbar {
      &__idx-newsletter-toggler {
        background-color: $gray-100;
        border-radius: 4px;
        font-size: 1rem;
        height: 40px;
        margin: 0 0 0 12px;
        padding: 0;
        width: 40px;
        border-color: transparent;
        border-style: none;
      }
    }
  }
  &__items {
    &--secondary {
      font-weight: 400;
      text-transform: none;
      .site-navbar__link--active {
        color: $gray-800;
        font-weight: 700;
        text-shadow: none;
      }
      .site-navbar__link {
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
        &:hover {
          text-decoration: underline;
          color: $gray-800;
        }
      }
    }
  }
  &--secondary {
    background-color: $gray-100;
    border-top: 1px solid $gray-400;
    padding: 0 16px;
  }
}

.page-attribution {
  &__content-authors {
    &::before {
      content: "Por";
    }
  }
}

.page-contents {
  .primary-image {
    &__image-credit::before {
      content: "Fuente: ";
    }
  }
  [data-embed-type] .credit::before {
    content: "Fuente: ";
  }
}

.inquiry-form-button {
  background-color: #007557 !important;
  &:focus,
  &:hover {
    background-color: #007557 !important;
  }
}

.site-footer {
  &__logo {
    width: 80px
  }
}
