$primary: #1c496d;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;
$dark-bg-color: $primary;
$light-bg-color: $secondary;
$background: $dark-bg-color;
$link-color: $light-bg-color;

$theme-site-navbar-secondary-bg-color: $dark;
$theme-site-navbar-primary-bg-color: $primary;
$theme-card-header-background-color: $primary;

$theme-site-navbar-logo-height: 80px;
$theme-site-navbar-logo-height-sm: 40px;

$theme-site-footer-primary-bg-color: $primary;
$theme-site-footer-secondary-bg-color: $dark;

$theme-load-more-button-background-color: $dark-bg-color;
$theme-load-more-button-border-color: $dark-bg-color;

$leaders-primary-color: #002f7b;
$leaders-primary-color-light: #005bac;
$leaders-accent-color: #d557af;

$theme-site-header-breakpoints: (
  hide-secondary: 790px,
  small-text-secondary: 875px
);

@import "../../node_modules/@pmmi-media-group/package-common/scss/common";
@import "../../node_modules/@pmmi-media-group/package-shared/scss/index";

.load-more-trigger > button:hover {
  background-color: $light-bg-color;
  border-color: $light-bg-color;
}

.content-published-date {
  text-transform: uppercase;
}

.content-attribution {
  &__content-authors {
    &::before {
      content: "Autor";
    }
  }
  &__content-byline {
    &::before {
      content: "Por";
    }
  }

  &__content-company-name {
    &::before {
      content: "De";
    }
  }

  &__content-contributors {
    &::before {
      content: "Contribuyente";
    }
  }

  &__content-photographers {
    &::before {
      content: "Fotógrafo";
    }
  }

  &__content-source {
    &::before {
      content: "Fuente";
    }
  }

  &__content-sponsor {
    &::before {
      content: "Patrocinador";
    }
  }
}
