$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 980px,
  small-logo: 1080px,
  small-text-primary: 0,
  small-text-secondary: 1080px
);

// Make secondary smaller to account for to many items
$theme-site-navbar-secondary-font-size: 16px !default;
// make small logo smaller to account for sponsored search.
// $theme-site-navbar-logo-height-sm: 24px;

// Colors
$primary: #ce2126;

$leaders-primary-color: #002f7b;
$leaders-primary-color-light: #005bac;
$leaders-accent-color: #d557af;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

@import "@pmmi-media-group/package-global/scss/core";

.page-attribution {
  &__content-authors {
    &::before {
      content: "Por";
    }
  }
}

.page-contents {
  .primary-image {
    &__image-credit::before {
      content: "Fuente: ";
    }
  }
  [data-embed-type] .credit::before {
    content: "Fuente: ";
  }
}

.inquiry-form-button {
  background-color: #007557 !important;
  &:focus,
  &:hover {
    background-color: #007557 !important;
  }
}

.site-footer {
  &__logo {
    width: 80px
  }
}
