import { get } from "@mindful-web/object-path";

$ const { id, alias, name, pageNode } = input;

$ const { site } = out.global;

<global-website-section-home-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
/>
