version: '3.7'

x-node-defaults: &node
  tty: true
  init: true
  image: node:14.21
  entrypoint: ["node"]
  working_dir: /root
  restart: always
  volumes:
    - ./:/root:cached
    - ./node_modules:/root/node_modules:delegated
    - yarn-cache:/.yarn-cache

x-env-defaults: &env
  CSS_MODE: ${CSS_MODE-optimized}
  GTM_CONTAINER_ID: ${GTM_CONTAINER_ID}
  NEW_RELIC_ENABLED: ${NEW_RELIC_ENABLED-0}
  NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY-(unset)}
  NODE_ENV: development
  IDENTITYX_API_TOKEN: ${IDENTITYX_API_TOKEN-(unset)}
  OMEDA_APP_ID: ${OMEDA_APP_ID-(unset)}
  OMEDA_INPUT_ID: ${OMEDA_INPUT_ID-(unset)}
  BASE_BROWSE_GRAPHQL_URI: ${BASE_BROWSE_GRAPHQL_URI-https://browse.tauron.mindful-web.parameter1.com/graphql}
  GLOBAL_50_250_DOCS_API_KEY: ${GLOBAL_50_250_DOCS_API_KEY-(unset)}
  SENDGRID_API_KEY: ${SENDGRID_API_KEY-(unset)}
  SENDGRID_DEV_TO: ${SENDGRID_DEV_TO-support@parameter1.com}
  YARN_CACHE_FOLDER: /.yarn-cache
  ENABLE_IDENTITY_X: ${ENABLE_IDENTITY_X-1}
  RECAPTCHA_V3_SITE_KEY: ${RECAPTCHA_V3_SITE_KEY-(unset)}
  RECAPTCHA_V3_SECRET_KEY: ${RECAPTCHA_V3_SECRET_KEY-(unset)}
  ENABLE_CONTENT_METER: ${ENABLE_CONTENT_METER-false}
  CONTENT_GATING_HANDLER_ENABLED: ${CONTENT_GATING_HANDLER_ENABLED-false}
  DISABLE_IDX_NEWSLETTER_SIGNUP: ${DISABLE_IDX_NEWSLETTER_SIGNUP-false}
  USE_LINK_INJECTED_BODY: ${USE_LINK_INJECTED_BODY-false}
  LEADERS_ALIAS: ${LEADERS_ALIAS-}
  NATIVEX_SERVE_URI: ${NATIVEX_SERVE_URI-}

x-env-tauron: &env-tauron
  <<: *env
  GRAPHQL_URI: ${GRAPHQL_URI-https://tauron.graphql.mindful-web.parameter1.com}
  OEMBED_URI: ${OEMBED_URI-https://tauron.oembed.mindful-web.parameter1.com}
  RSS_URI: ${RSS_URI-https://tauron.rss.mindful-web.parameter1.com}
  SITEMAPS_URI: ${SITEMAPS_URI-https://tauron.sitemaps.mindful-web.parameter1.com}

x-env-leonis: &env-leonis
  <<: *env
  GRAPHQL_URI: ${GRAPHQL_URI-https://graphql.leonis.mindful-web.parameter1.com}
  OEMBED_URI: ${OEMBED_URI-https://oembed.leonis.mindful-web.parameter1.com}
  RSS_URI: ${RSS_URI-https://rss.leonis.mindful-web.parameter1.com}
  SITEMAPS_URI: ${SITEMAPS_URI-https://sitemaps.leonis.mindful-web.parameter1.com}
  BASE_BROWSE_GRAPHQL_URI: ${BASE_BROWSE_GRAPHQL_URI-https://browse.leonis.mindful-web.parameter1.com/graphql}

x-env-development: &env-development
  <<: *env
  GRAPHQL_URI: ${GRAPHQL_URI-http://host.docker.internal:10002}
  OEMBED_URI: ${OEMBED_URI-http://host.docker.internal:10013}
  RSS_URI: ${RSS_URI-http://host.docker.internal:10011}
  SITEMAPS_URI: ${SITEMAPS_URI-http://host.docker.internal:10009}

x-site-command: &site-cmd
  <<: *node
  entrypoint: ["yarn"]
  command: ["dev"]

volumes:
  yarn-cache: {}

services:
  terminal:
    <<: *node
    working_dir: /root
    entrypoint: ["/bin/bash"]
    environment:
      <<: *env

  yarn:
    <<: *node
    working_dir: /root
    entrypoint: ["yarn"]
    environment:
      <<: *env

  pw:
    <<: *site-cmd
    working_dir: /root/sites/packworld.com
    environment:
      <<: *env
      HOST: www-pmmimediagroup-pw.dev.parameter1.com
      PORT: 80
      EXPOSED_PORT: 9711
      LIVERELOAD_PORT: 19711
      OMEDA_INPUT_ID: ${PW_OMEDA_INPUT_ID-(unset)}
    hostname: www-pmmimediagroup-pw.dev.parameter1.com
    ports:
      - "9711:80"
      - "19711:19711"

  hcp:
    <<: *site-cmd
    working_dir: /root/sites/healthcarepackaging.com
    environment:
      <<: *env
      HOST: www-pmmimediagroup-hcp.dev.parameter1.com
      PORT: 80
      EXPOSED_PORT: 9712
      LIVERELOAD_PORT: 19712
      OMEDA_INPUT_ID: ${HCP_OMEDA_INPUT_ID-(unset)}
    hostname: www-pmmimediagroup-hcp.dev.parameter1.com
    ports:
      - "9712:80"
      - "19712:19712"

  pfw:
    <<: *site-cmd
    working_dir: /root/sites/profoodworld.com
    environment:
      <<: *env
      HOST: www-pmmimediagroup-pfw.dev.parameter1.com
      PORT: 80
      EXPOSED_PORT: 9713
      LIVERELOAD_PORT: 19713
      OMEDA_INPUT_ID: ${PFW_OMEDA_INPUT_ID-(unset)}
    hostname: www-pmmimediagroup-pfw.dev.parameter1.com
    ports:
      - "9713:80"
      - "19713:19713"

  oem:
    <<: *site-cmd
    working_dir: /root/sites/oemmagazine.org
    environment:
      <<: *env
      HOST: www-pmmimediagroup-oem.dev.parameter1.com
      PORT: 80
      EXPOSED_PORT: 9714
      LIVERELOAD_PORT: 19714
      OMEDA_INPUT_ID: ${OEM_OMEDA_INPUT_ID-(unset)}
    hostname: www-pmmimediagroup-oem.dev.parameter1.com
    ports:
      - "9714:80"
      - "19714:19714"

  mundo:
    <<: *site-cmd
    working_dir: /root/sites/mundopmmi.com
    environment:
      <<: *env
      HOST: www-pmmimediagroup-mundo.dev.parameter1.com
      PORT: 80
      EXPOSED_PORT: 9716
      LIVERELOAD_PORT: 19716
      OMEDA_INPUT_ID: ${MUNDO_OMEDA_INPUT_ID-(unset)}
    hostname: www-pmmimediagroup-mundo.dev.parameter1.com
    ports:
      - "9716:80"
      - "19716:19716"

  cpgn:
    <<: *site-cmd
    working_dir: /root/sites/cpgnext.com
    environment:
      <<: *env
      HOST: www-pmmimediagroup-cpgnext.dev.parameter1.com
      PORT: 80
      EXPOSED_PORT: 9714
      LIVERELOAD_PORT: 19714
      OMEDA_INPUT_ID: ${CPGN_OMEDA_INPUT_ID-(unset)}
    hostname: www-pmmimediagroup-cpgnext.dev.parameter1.com
    ports:
      - "9714:80"
      - "19714:19717"
