$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 920px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 1080px
);

// Make secondary smaller to account for to many items
$theme-site-navbar-secondary-font-size: 16px !default;
// make small logo smaller to account for sponsored search.
$theme-site-navbar-logo-height-sm: 24px;

// Colors
$primary: #d2232a;

$leaders-primary-color: #c60000;
$leaders-primary-color-light: #9b0000;
$leaders-accent-color: #c60000;

@import "@pmmi-media-group/package-global/scss/core";
