$primary: #005a82;
$secondary: #57a0d3;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;
$dark-bg-color: #00337b;
$light-bg-color: #0a6fff;
$background: $dark-bg-color;
$link-color: $light-bg-color;

$theme-site-footer-primary-bg-color: $light-bg-color;
$theme-site-footer-secondary-bg-color: $dark-bg-color;

$theme-load-more-button-background-color: $dark-bg-color;
$theme-load-more-button-border-color: $dark-bg-color;

$leaders-primary-color: #002f7b;
$leaders-primary-color-light: #005bac;
$leaders-accent-color: #d557af;

@import "../../node_modules/@pmmi-media-group/package-common/scss/common";
@import "../../node_modules/@pmmi-media-group/package-shared/scss/index";

.load-more-trigger > button:hover {
  background-color: $light-bg-color;
  border-color: $light-bg-color;
}
.site-footer {
  &__brand {
    padding: 0 2rem;
  }
}
