.inquiry-form {
  $self: &;
  padding: $block-spacer;
  margin-top: 0;
  margin-bottom: $block-spacer;
  background-color: #f8f9fa;
  border-top: 0;

  &__header {
    margin-bottom: .5rem;
    font-size: 20px;
  }

  &__description {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  &__content-name {
    font-weight: 600;
  }

  .btn {
    font-size: 1rem;
    font-weight: 600;
  }

  label {
    margin-bottom: 0;
  }

  &--block {
    @include theme-card();
    padding: 0;
    background-color: $white;
    #{ $self }__header,
    #{ $self }__description,
    #{ $self }__form {
      padding: $marko-web-node-list-padding;
    }
    #{ $self }__header {
      @include theme-card-header();
    }
  }
  &--top-margin {
    margin-top: map-get($spacers, block);
  }
}
