@import "../../node_modules/@parameter1/base-cms-marko-web-html-sitemap/scss/index";
@import "../../node_modules/@parameter1/base-cms-marko-web-social-sharing/scss/buttons";

.social-sharing {
  margin-top: map-get($spacers, block);
  margin-bottom: map-get($spacers, block);
}

$header-height: calc(50px + (#{$block-spacer} * 2)) !default;

@import "./components/ads";
@import "./components/inquiry-form";
@import "./components/primary-image";
@import "./components/search-page";

.content-page-preview-overlay {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
