import { get } from "@parameter1/base-cms-object-path";

$ const { id, alias, name, pageNode } = input;

$ const { site } = out.global;

<global-website-section-leaders-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
/>
