$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #002f7b;

$leaders-primary-color: #002f7b;
$leaders-primary-color-light: #005bac;
$leaders-accent-color: #d557af;

// Navbar
$navbarStyle: "navbar-b" !default;
$theme-site-navbar-primary-type: light;
$theme-site-navbar-logo-height: 75px !default;
$theme-site-navbar-secondary-font-size: 16px !default;

@import "@pmmi-media-group/package-global/scss/core";

.site-navbar {
  &__right {
    .site-navbar {
      &__idx-newsletter-toggler {
        background-color: $gray-100;
        border-radius: 4px;
        font-size: 1rem;
        height: 40px;
        margin: 0 0 0 12px;
        padding: 0;
        width: 40px;
        border-color: transparent;
        border-style: none;
      }
    }
  }
  &__items {
    &--secondary {
      font-weight: 400;
      text-transform: none;
      .site-navbar__link--active {
        color: $gray-800;
        font-weight: 700;
        text-shadow: none;
      }
      .site-navbar__link {
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
        &:hover {
          text-decoration: underline;
          color: $gray-800;
        }
      }
    }
  }
  &--secondary {
    background-color: $gray-100;
    border-top: 1px solid $gray-400;
    padding: 0 16px;
  }
}

.inquiry-form-button {
  background-color: $leaders-videocam-color !important;
  &:focus,
  &:hover {
    background-color: $leaders-videocam-color !important;
  }
}
.page-wrapper {
  &--advisor-network {
    // .directory-featured-listing {
    //   &__item--wrapper {
    //     margin-top: 0;
    //   }
    // }
    .breadcrumbs--advisor-network {
      margin-top: map-get($spacers, block);
    }
    .marko-web-search-filter-container__title {
      display: none;
    }
  }
}
