
.leaders {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  &__header-title {
    padding-left: $leaders-footer-padding-y;
    @include skin-typography($style: "section-header-small");
    color: $white;
  }
  &__header {
    border-radius: 4px 4px 0 0;
  }
  &__body {
    border-radius: 0 0 4px 4px;
  }
}
.leaders-section {
  $self: &;
  &__toggle-button {
    border-radius: 4px;
    ~ #{ $self }__list {
      overflow: hidden;
      border-radius: 0 0 4px 4px;
    }
  }
}
.leaders-index-page {
  &__header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &__title {
    margin-bottom: .75rem;
    font-size: 34px;
  }

  &__header {
    margin-bottom: .75rem;
  }

  &__logo {
    display: flex;
    padding: .75rem;
    margin-right: .75rem;
    margin-bottom: .75rem;
    background-color: $leaders-primary-color;
  }

  &__body,
  &__description {
    > p {
      margin-bottom: .25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
