$content-meter-mobile-breakpoint: 600px !default;
.content-meter {
  $self: &;
  ~ .site-footer {
    margin-bottom: 72px;
  }
  &--display-overlay {
    ~ .site-footer {
      display: none;
      margin-bottom: 0;
    }
    ~ .document-container {
      height: 0;
      overflow: hidden;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1499;
    width: 100%;
    visibility: visible;
    background-color: rgba(0, 0, 0, .7);
    transition: visibility 0s, opacity .5s linear;
  }
  &__bar {
    #{ $self } {
      &__call-to-action {
        @include skin-typography($style: "content-meter-cta");
        display: none;
        @media (max-width: $content-meter-mobile-breakpoint) {
          text-align: left;
        }
        &--site-name {
          font-style: italic;
        }
      }
      &__body {
        display: none;
        #{ $self }__login-form {
          // stylelint-disable-next-line
          .form-group label {
            display: none;
          }
          @media (max-width: $content-meter-mobile-breakpoint) {
            width: 100%;
          }
          // stylelint-disable-next-line
          .btn {
            @media (max-width: $content-meter-mobile-breakpoint) {
              width: 100%;
            }
          }
        }
      }
    }
    position: fixed;
    bottom: 0;
    // footer zindex is set to 1500 ;)
    z-index: 1501;
    width: 100%;
    padding: map-get($spacers, 3);
    color: $white;
    text-align: center;
    background: $black;
  }
  &__toggler {
    background: initial;
    border: none;
    &:focus {
      outline: none;

    }
    .marko-web-icon svg {
      fill: $white;
    }
    @media (max-width: $content-meter-mobile-breakpoint) {
      display: flex;
      width: 100%;
    }
    span:not(.marko-web-icon) {
      @media (max-width: $content-meter-mobile-breakpoint) {
        flex-grow: 2;
        text-align: left;
      }
      font-family: $skin-font-family-secondary;
      font-size: 18px;
      font-weight: $font-weight-bold;
      line-height: 38px;
      color: $white;
      text-transform: none;
      letter-spacing: .3px;
    }
  }

  &__login-form {
    max-width: 700px;
    p {
      font-family: $skin-font-family-secondary;
      font-weight: $font-weight-medium;
    }
    form {
      @media (min-width: $content-meter-mobile-breakpoint) {
        display: flex;
        .form-group {
          margin-right: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }

  &--open {
    ~ .site-footer {
      margin-bottom: 296px;
      @media (min-width: $content-meter-mobile-breakpoint) {
        margin-bottom: 166px;
      }
    }
    #{ $self } {
      &__bar {
        padding-bottom: map-get($spacers, 4);
      }
      &__toggler {
        // stylelint-disable-next-line
        span {
          @include skin-typography($style: "content-meter-header");
          margin-bottom: map-get($spacers, block);
        }
      }
      &__call-to-action {
        display: block;
      }
      &__body {
        display: flex;
        min-height: 108px;
        @media (min-width: $content-meter-mobile-breakpoint) {
          justify-content: center;
          min-height: 48px;
        }
      }
    }
  }
}
