.top-stories--pmg-events,
.pmg-events__wrapper{
  margin-right: $marko-web-page-wrapper-padding * -1;
  margin-left: $marko-web-page-wrapper-padding * -1;
  margin-bottom: map-get($spacers, block);
  padding: map-get($spacers, block);
  background-color: $gray-100;
  @media (min-width: $marko-web-document-container-max-width) {
    $margin: calc((((100vw - $marko-web-document-container-max-width) / 2) + $marko-web-page-wrapper-padding) * -1);
    margin-right: $margin;
    margin-left: $margin;
    > * {
      max-width: $marko-web-document-container-max-width;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
