$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 840px,
  small-logo: 1000px,
  small-text-primary: 0,
  small-text-secondary: 1000px
);

// Colors
$primary: #8fb019;

$leaders-primary-color: #004c92;
$leaders-header-bg-color: #32bbe8 !default;
$leaders-primary-color-light: #003a6f;
$leaders-accent-color: #8fb019;

@import "@pmmi-media-group/package-global/scss/core";


.top250-header {
  font-family: $skin-font-family-secondary;
  &__sponsored-by {
    margin-top: 20px;
    font-size: 18px;
    font-weight: $font-weight-semibold;
  }
  &__logo {
    .top250-logo-link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
