@import "../../node_modules/@base-cms/marko-web-theme-default/skins/orion/skin";
@import "../../node_modules/@base-cms/marko-web-gtm/scss/slot";
@import "./carousel";
@import "./contact-us-form"; // @todo this should be remove once contact us is in core
@import "./company-page";
@import "./leaders";

.page-rail {
  text-align: center;
}

.ad-container {
  &--above-container {
    margin-top: map-get($spacers, block);
  }
}

.document-container-header {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  padding-top: calculate-navbar-height-for(default);

  @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
    @media (max-width: $width) {
      padding-top: calculate-navbar-height-for($breakpoint);
    }
  }
}

.document-container {
  padding-top: 0;
}

.marko-web-gtm-slot {
  &:empty {
    display: none;
  }
  &--above-container {
    &:not(:empty) {
      margin-top: map-get($spacers, block);
    }
  }
}

.node {
  $self: &;
  &--image-headshot {
    #{ $self }__image-inner-wrapper {
      box-shadow: none;
    }
  }
}
