@import "../../node_modules/@base-cms/marko-web-theme-default/skins/orion/skin";
@import "../../node_modules/@base-cms/marko-web-gtm/scss/slot";
@import "./contact-us-form"; // @todo this should be remove once contact us is in core
@import "./leaders";

.page-rail {
  text-align: center;
}

.ad-container {
  &--above-container {
    margin-top: map-get($spacers, block);
  }
}

.document-container {
  &--header {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  &:not(&--header) {
    padding-top: 0;
  }
}

.marko-web-gtm-slot {
  &--above-container {
    &:not(:empty) {
      margin-top: map-get($spacers, block);
    }
  }
}
