.leaders {
  &__logo {
    max-width: 100%;
  }
  &__item {
    text-align: left;
    .btn-link:hover,
    .btn-link:active,
    .btn-link:focus {
      text-decoration: none;
    }
  }
}

.node-list {
  &__header,
  &__body {
    &--centered {
      text-align: center;
    }
  }
}
