.leaders {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: auto;
  }
  &__header {
    text-align: center;
    background-color: $primary;
  }
  &__items {
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    .btn-link:hover,
    .btn-link:active,
    .btn-link:focus {
      text-decoration: none;
    }
  }
}

.node-list {
  $self: &;
  &--centered {
    #{ $self } {
      &__node,
      &__header,
      &__footer,
      &__body {
        text-align: center;
      }
    }
  }
}
