import { defaultValue } from "@base-cms/marko-web/utils";

$ const height = defaultValue(input.height, 450);

<a
  class="twitter-timeline btn btn-primary btn-block"
  data-height=height
  data-theme="light"
  href="https://twitter.com/Universal_Robot"
  target="_blank"
>
  Tweets by Universal_Robot
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
