$theme-site-header-breakpoints: (
  hide-primary: 100000px, // effectively always hide the primary nav
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #32bbe8;

$leaders-primary-color: #004c92;
$leaders-header-bg-color: #32bbe8 !default;
$leaders-primary-color-light: #003a6f;
$leaders-accent-color: #8fb019;

@import "../../node_modules/@pmmi-media-group/package-global/scss/core";
