@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700|Source+Serif+Pro:400,600,700&display=swap");

$skin-font-family-primary:  "Source Serif Pro", serif;
$skin-font-family-secondary: "IBM Plex Sans", sans-serif;

$theme-site-navbar-logo-height: 30px !default;
$theme-site-navbar-logo-height-sm: 30px !default;

$theme-site-footer-corporate-logo-height: 40px !default;
