@import "@parameter1/base-cms-marko-web/scss/fonts/open-sans-fallback";

$skin-font-family-primary: "Open Sans", open-sans-fallback, sans-serif !default;
$skin-font-family-secondary: "Open Sans", open-sans-fallback, sans-serif !default;

$theme-site-navbar-logo-height: 30px !default;
$theme-site-navbar-logo-height-sm: 30px !default;

$theme-site-footer-corporate-logo-height: 40px !default;

$leaders-nav-link-color: #000;
