@import url("https://use.typekit.net/eae7fel.css");
$skin-font-family-primary: solitaire-mvb-pro, sans-serif;
$skin-font-family-secondary: informapro, sans-serif;

$theme-site-navbar-logo-height: 30px !default;
$theme-site-navbar-logo-height-sm: 30px !default;

$theme-site-footer-corporate-logo-width: 100px !default;
