// import local variables
@import "variables";

// import theme css
@import "../../node_modules/@parameter1/base-cms-marko-web-theme-monorail/scss/core";

// import theme magazine css
@import "../../node_modules/@parameter1/base-cms-marko-web-theme-monorail-magazine/scss/index";

// import theme leaders css
@import "../../node_modules/@pmmi-media-group/package-theme-monorail-leaders/scss/leaders";

// skin components
@import "./components/content-card-list";
@import "./components/leaders";
@import "./components/native-x-list";
@import "./components/native-x-announcement";

// @import "../components/magazine/scss/index";

body {
  -webkit-font-smoothing: antialiased;
  // set a default letter spacing of .25px, since most fonts have some form of spacing
  letter-spacing: .25px;
}

label {
  @include skin-typography($style: "input-label");
}

.col-spacer {
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.form-control,
.custom-select {
  letter-spacing: $skin-input-letter-spacing;
  border-radius: $input-border-radius; // must force this value since radius is disabled
  &:hover:not(:focus) {
    border-color: $skin-input-hover-border-color;
  }

  &--bg-white {
    background-color: #fff;
    &:focus {
      background-color: #fff;
    }
  }
}

.custom-control-label {
  &::before {
    border-radius: $input-border-radius; // must force this value since radius is disabled
  }
  &--bg-white {
    &::before {
      background-color: #fff;
    }
  }
}

.btn-primary {
  @include skin-button($style: "primary");
}

.btn-secondary {
  @include skin-button($style: "secondary");
}

.btn-light {
  @include skin-button($style: "light");
}

.document-container {
  padding-top: 0;
  background-color: $white;
}

.node {
  $self: &;
  $image-border: 1px solid rgba(239, 239, 239, .9);

  &__header {
    margin-bottom: 6px;
  }

  &__content-published {
    @include skin-typography($style: "date");
  }

  &__image {
    border: $image-border;
  }

  &__image-inner-wrapper--fluid-3by2 {
    #{ $self } {
      &__image {
        border: $image-border;
        object-fit: cover;
      }
    }
  }

  &--video-content-type {
    #{ $self } {
      &__image-inner-wrapper {
        &::after {
          $size: 70px;
          width: 70px;
          height: 70px;
          opacity: 1;
        }
      }
    }
  }
}

.node-list {
  &__header {
    padding-bottom: 0;
  }
}

.card-deck-flow {
  $self: &;

  &--3-cols {
    #{ $self } {
      &__node {
        @include media-breakpoint-up(md) {
          @include make-col(4);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }
      }
    }
  }

  &--4-cols {
    #{ $self } {
      &__node {
        // account for smaller container max-width and break earlier than normal
        @include media-breakpoint-up(sm) {
          @include make-col(12);
        }
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(3);
        }

        // @include media-breakpoint-down(sm) {
        //   margin-bottom: 16px;
        // }
        // &:last-child {
        //   @include media-breakpoint-down(sm) {
        //     margin-bottom: 0;
        //   }
        // }
      }
    }
  }
}

// ensure all anvato embeds are treated like videos
[data-oembed-provider="Anvato"] {
  @extend .embed-responsive;
  @extend .embed-responsive-16by9;
}

// Begin right rail content layout CSS
.content-page-body {
  .primary-image {
    &--aligned-center {
      @media (min-width: 900px) {
        margin-left: 0;
        width: 700px;
      }
    }
  }
}
.content-page-header {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}

.ad-container {
  &--inline-content#{&}--template-inline-content-desktop,
  &--inline-content#{&}--template-inline-content-signup,
  &--inline-content#{&}--template-inline-content-mobile {
    min-height: 0;
    margin-bottom: 0;
    > *:first-child {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }
  &--inline-content#{&}--template-inline-content-signup,
  &--inline-content#{&}--template-inline-content-desktop {
    display: none;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    > *:first-child {
      border-top: 3px solid $skin-ad-bg-color;
      border-bottom: 3px solid $skin-ad-bg-color;
    }
    @media (min-width: 780px) {
      display: block;
    }
  }
  &--with-label {
    > *:first-child {
      &::before {
        padding-bottom: 1rem;
        font-size: 12px;
        color: $gray-500;
        text-transform: none;
        content: "Advertisement";
      }
    }
  }
}

// End right rail content layout CSS

.content-page-preview-overlay {
  height: 200px;
  margin-top: -200px;
}
.content-page-gate {
  margin-top: 0;
}
.newsletter-signup-banner {
  &__form-wrapper--footer {
    label {
      color: $gray-400
    }
  }
}

.content-page-header {
  .social-sharing {
    margin-top: map-get($spacers, block);
  }
}

// /user/${type} add spacing above/below main section
.page {
  &--profile,
  &--authenticate,
  &--login,
  &--logout,
  &--register {
    .page-wrapper .page-wrapper__section:only-child {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &--content-webinar {
    .content-page-body {
      max-width: none;
    }
  }
}

.site-header .search-sponsor__logo {
  @media (max-width: 420px) {
    display: none;
  }
}

.card-deck-flow {
  &--featured-products {
    .node {
      padding-right: 0;
      &__title {
        font-size: 14px;
      }
    }
  }
}

.inquiry-form {
  .node-list__header {
    padding: 0;
  }
}

@media (max-width: 100000px) {
  .sticky-top {
    top: 1rem;
  }
}
