// 1. import local variables
@import "variables";

// 2. theme FVMs.
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/functions";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/variables";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/mixins";

// 3. selectively import bootstrap. mark as critical when necessary–
/*! critical:start */
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
/*! critical:end */
/*! critical:start|user */
/*! critical:start|content.product */
/*! critical:start|content.company */
@import "bootstrap/scss/custom-forms";
/*! critical:end */
/*! critical:start|website-section */
/*! critical:start|search */
/*! critical:start|user */
/*! critical:start|content.product */
/*! critical:start|content.company */
@import "bootstrap/scss/forms";
@import "bootstrap/scss/images";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/tables";
/*! critical:start|user */
/*! critical:start|error */
/*! critical:start|website-section.directory */
/*! critical:start|subscribe */
/*! critical:start|content */
@import "bootstrap/scss/breadcrumb";
/*! critical:end */
@import "bootstrap/scss/alert";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";

// 4. selectively import core items. mark as critical when necessary
/*! critical:start */
@import "@parameter1/base-cms-marko-web/scss/document";
@import "@parameter1/base-cms-marko-web/scss/node";
@import "@parameter1/base-cms-marko-web/scss/node-list";
/*! critical:end */
@import "@parameter1/base-cms-marko-web/scss/load-more"; // @todo verify this is used
@import "@parameter1/base-cms-marko-web/scss/page-image"; // @todo verify this is used
@import "@parameter1/base-cms-marko-web/scss/carousel"; // @todo verify this is used
/*! critical:start */
@import "@parameter1/base-cms-marko-web-icons/scss/icons";
/*! critical:end */
/*! critical:start|content */
@import "@parameter1/base-cms-marko-web-social-sharing/scss/buttons";
/*! critical:end */
/*! critical:start|site-map */
@import "@parameter1/base-cms-marko-web-html-sitemap/scss/index";
/*! critical:end */
/*! critical:start */
@import "@parameter1/base-cms-marko-web-gam/scss/fixed-ad-bottom"; // bottom sticky leader board
/*! critical:end */

// 5. selectively import theme items. mark as critical when necessary
/*! critical:start */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/default-theme/site-navbar"; // load navbar from default theme first... allows for alternate monorail navbars to override these defaults
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/site-navbar";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/site-navbar-b";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/ad-container";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/author-node";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/author-bio-node";
/*! critical:start|content */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/author-published-node";
/*! critical:end */
/*! critical:start|user */
/*! critical:start|error */
/*! critical:start|website-section.directory */
/*! critical:start|subscribe */
/*! critical:start|content */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/breadcrumbs";
/*! critical:end */

@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/comments";
/*! critical:start|content */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/content-page";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/content-page-gate";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/embedded-media";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/identity-x";
/*! critical:start */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/lazyload";
/*! critical:end */
/*! critical:start|magazine */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/magazine-publication-buttons";
/*! critical:end */
/*! critical:start */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/node";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/node-list";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/page";
/*! critical:end */

/*! critical:start|content */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/page-attribution";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/page-contact-details";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/page-dates";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/page-image";
/*! critical:start|content */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/page-rail";
/*! critical:end */
/*! critical:start */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/page-wrapper";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/pagination-controls";
/*! critical:start|search */
/*! critical:start|website-section.directory */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/search-page";
/*! critical:end */

/*! critical:start|user */
/*! critical:start|error */
/*! critical:start|subscribe */
/*! critical:start|content.webinar */
/*! critical:start|site-map */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/site-footer";
/*! critical:end */

/*! critical:start */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/site-header";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/site-menu";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/site-newsletter-menu";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/social-icons";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/sponsor-logo";
/*! critical:start|content */
/*! critical:start|website-section */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/sticky-top";
/*! critical:end */

// 6. selectively import theme _block_ items. mark as critical when necessary
// @todo VERIFY ALL OF THESE - were all being included by monorail
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/callout-cards";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/content-card-deck";
/*! critical:start|content.company */
/*! critical:start|content.product */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/company-inquiry-form";
/*! critical:end */

/*! critical:start|home */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/hero-card";
/*! critical:end */

/*! critical:start|home */
/*! critical:start|content */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/latest-content-list";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/latest-podcast";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/latest-products-feed";
/*! critical:start|magazine */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/magazine-publication-card";
.magazine-publication-card-block {
  .node__footer {
    &-left {
      display: grid !important;
      justify-content: center !important;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0.5rem;
    }
  }
}
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/more-products";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/most-popular";

/*! critical:start */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/newsletter-signup-banner";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/newsletter-signup-modal";
/*! critical:end */

/*! critical:start|home */
/*! critical:start|website-section */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/newsletter-signup-banner-large";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/newsletter-signup-site-footer";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/node-author";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/opinion";
/*! critical:start|content */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/primary-image";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/products";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/promo-card";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/read-next";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/related-native-x-stories";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/related-stories";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/section-card-deck-featured";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/section-card-list";
/*! critical:start|website-section */
/*! critical:start|search */
/*! critical:start|content.contact */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/section-feed";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/section-list";
/*! critical:start */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/social-follow";
/*! critical:end */
/*! critical:start|home */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/top-stories";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/top-stories-menu";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/white-papers";

// 7. selectively import theme _flow_ items. mark as critical when necessary
/*! critical:start|home */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/flows/card-deck";
/*! critical:end */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/flows/column-list";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/flows/featured";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/flows/hero";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/flows/incremented-nodes";

// 8. everything else...

// magazine component
/*! critical:start|magazine */
@import "@parameter1/base-cms-marko-web-theme-monorail-magazine/scss/index";
/*! critical:end */

// package component css inclusions
/*! critical:start|website-section.directory */
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/directory-facets";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/company-search";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/blocks/section-search";
/*! critical:end */

// import theme magazine css
/*! critical:start|home */
/*! critical:start|magazine */
@import "@parameter1/base-cms-marko-web-theme-monorail-magazine/scss/index";
.publication-button-wrapper {
  a {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}
/*! critical:end */

// import theme leaders css
/*! critical:start|home */
/*! critical:start|content */
/*! critical:start|website-section.leaders */
@import "@parameter1/base-cms-marko-web-leaders/scss/leaders";
/*! critical:end */

// skin components
@import "./components/content-card-list";
/*! critical:start|content */
@import "./components/leaders";
@import "./components/featured-companies";
/*! critical:end */
/*! critical:start */
@import "./components/native-x-list";
@import "./components/native-x-announcement";
/*! critical:end */
@import "./components/pmg-events";
/*! critical:start|website-section.webinars */
@import "./components/webinars-feed";
/*! critical:end */

/*! critical:start|website-section */
.page-wrapper__website-section-name--emergingbrands {
  display: none;
}
/*! critical:end */

/*! critical:start|content */
.content-survey-access-idx__wrapper {
  .btn {
    margin-top: map-get($spacers, block)
  }
}
/*! critical:end */
/*! critical:start */
body {
  -webkit-font-smoothing: antialiased;
  // set a default letter spacing of .25px, since most fonts have some form of spacing
  letter-spacing: .25px;
}

label {
  @include skin-typography($style: "input-label");
}

.col-spacer {
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.form-control,
.custom-select {
  letter-spacing: $skin-input-letter-spacing;
  border-radius: $input-border-radius; // must force this value since radius is disabled
  &:hover:not(:focus) {
    border-color: $skin-input-hover-border-color;
  }

  &--bg-white {
    background-color: #fff;
    &:focus {
      background-color: #fff;
    }
  }
}

.custom-control-label {
  &::before {
    border-radius: $input-border-radius; // must force this value since radius is disabled
  }
  &--bg-white {
    &::before {
      background-color: #fff;
    }
  }
}

.btn-primary {
  @include skin-button($style: "primary");
}

.btn-secondary {
  @include skin-button($style: "secondary");
}

.btn-light {
  @include skin-button($style: "light");
}

.document-container {
  padding-top: 0;
  background-color: $white;
}

.node {
  $self: &;
  $image-border: 1px solid rgba(239, 239, 239, .9);

  &__header {
    margin-bottom: 6px;
  }

  &__content-published {
    @include skin-typography($style: "date");
  }

  &__image {
    border: $image-border;
  }

  &__image-inner-wrapper--fluid-3by2 {
    #{ $self } {
      &__image {
        border: $image-border;
        object-fit: cover;
      }
    }
  }

  &--video-content-type {
    #{ $self } {
      &__image-inner-wrapper {
        &::after {
          $size: 70px;
          width: 70px;
          height: 70px;
          opacity: 1;
        }
      }
    }
  }
}

.node-list {
  &__header {
    padding-bottom: 0;
  }
}

.card-deck-flow {
  $self: &;

  &--3-cols {
    #{ $self } {
      &__node {
        @include media-breakpoint-up(md) {
          @include make-col(4);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }
      }
    }
  }

  &--4-cols {
    #{ $self } {
      &__node {
        // account for smaller container max-width and break earlier than normal
        @include media-breakpoint-up(sm) {
          @include make-col(12);
        }
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(3);
        }

        // @include media-breakpoint-down(sm) {
        //   margin-bottom: 16px;
        // }
        // &:last-child {
        //   @include media-breakpoint-down(sm) {
        //     margin-bottom: 0;
        //   }
        // }
      }
    }
  }
}

// ensure all anvato embeds are treated like videos
[data-oembed-provider="Anvato"] {
  @extend .embed-responsive;
  @extend .embed-responsive-16by9;
}

// Begin right rail content layout CSS
.content-page-body {
  .primary-image {
    &--aligned-center {
      @media (min-width: 900px) {
        margin-left: 0;
        width: 700px;
      }
    }
  }
}
.content-page-header {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}

.ad-container {
  &--inline-content#{&}--template-inline-content,
  &--inline-content#{&}--template-inline-content-desktop,
  &--inline-content#{&}--template-inline-content-mobile {
    min-height: 0;
    margin-bottom: 0;
    > *:first-child {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }
  &--inline-content#{&}--template-inline-content-desktop {
    display: none;
    @media (min-width: 780px) {
      display: block;
    }
  }
  &--inline-content#{&}--template-inline-content,
  &--inline-content#{&}--template-inline-content-desktop {
    @media (min-width: 780px) {
      margin-right: 0;
      margin-left: 0;
      background-color: #fff;
      > *:first-child {
        border-top: 3px solid $skin-ad-bg-color;
        border-bottom: 3px solid $skin-ad-bg-color;
      }
    }
  }
}

// End right rail content layout CSS

.content-page-preview-overlay {
  height: 200px;
  margin-top: -200px;
}
.content-page-gate {
  margin-top: 0;
}
.newsletter-signup-banner {
  &__form-wrapper--footer {
    label {
      color: $gray-400
    }
  }
}

.content-page-header {
  .social-sharing {
    margin-top: map-get($spacers, block);
  }
}

// /user/${type} add spacing above/below main section
.page {
  &--profile,
  &--authenticate,
  &--login,
  &--logout,
  &--register {
    .page-wrapper .page-wrapper__section:only-child {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &--content-webinar {
    .content-page-body {
      max-width: none;
    }
  }
}

.site-header .search-sponsor__logo {
  @media (max-width: 420px) {
    display: none;
  }
}

.card-deck-flow {
  &--featured-products {
    .node {
      padding-right: 0;
      &__title {
        font-size: 14px;
      }
    }
  }
}

.inquiry-form {
  .node-list__header {
    padding: 0;
  }
}

@media (max-width: 100000px) {
  .sticky-top {
    top: 1rem;
  }
}

.newsletter-signup-banner-content-rail {
  label[for="sign-on-email"] {
    display: none;
  }
}
/*! critical:end */
