$primary: #d2232a;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;
$dark-bg-color: #9b0000;
$light-bg-color: #c60000;

$theme-site-navbar-secondary-bg-color: #000;
$theme-site-navbar-primary-bg-color: #000;
$theme-site-footer-primary-bg-color: $light-bg-color;
$theme-site-footer-secondary-bg-color: $dark-bg-color;

$theme-font-family-sans-serif: "IBM Plex Sans", sans-serif;
$theme-font-family-serif: "Source Serif Pro", serif;
$theme-font-family-page-title: $theme-font-family-sans-serif;

$theme-card-header-background-color: #000;

$theme-load-more-button-background-color: $dark-bg-color;
$theme-load-more-button-border-color: $dark-bg-color;

$enable-rounded: false;

$theme-site-navbar-logo-height: 30px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-header-breakpoints: (
  hide-primary: 10000px,
  hide-secondary: 610px,
  hide-tertiary: 0,
  small-logo: 667px,
  small-text-primary: 10000px,
  small-text-secondary: 740px
);

$leaders-header-background-color: $light-bg-color;
$leaders-link-color: #780116;
$leaders-icon-color: $dark-bg-color;

@import "../../node_modules/@base-cms-websites/package-common/scss/common";

.load-more-trigger > button:hover {
  background-color: $light-bg-color;
  border-color: $light-bg-color;
}
