$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #32bbe8;

$leaders-primary-color: #35bbe8;
$leaders-primary-color-light: #023749;
$leaders-accent-color: #d557af;

// Navbar
$navbarStyle: "navbar-b" !default;
$theme-site-navbar-primary-type: light;
$theme-site-navbar-logo-height: 75px !default;
$theme-site-navbar-secondary-font-size: 16px !default;

@import "@pmmi-media-group/package-global/scss/core";

.inquiry-form-button {
  background-color: $leaders-videocam-color !important;
  &:focus,
  &:hover {
    background-color: $leaders-videocam-color !important;
  }
}

/*! critical:start */
.site-navbar {
  &__right {
    .site-navbar {
      &__idx-newsletter-toggler {
        background-color: $gray-100;
        border-radius: 4px;
        font-size: 1rem;
        height: 40px;
        margin: 0 0 0 12px;
        padding: 0;
        width: 40px;
        border-color: transparent;
        border-style: none;
      }
    }
  }
  &__items {
    &--secondary {
      font-weight: 400;
      text-transform: none;
      .site-navbar__link--active {
        color: $gray-800;
        font-weight: 700;
        text-shadow: none;
      }
      .site-navbar__link {
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
        &:hover {
          text-decoration: underline;
          color: $gray-800;
        }
      }
    }
  }
  &--secondary {
    background-color: $gray-100;
    border-top: 1px solid $gray-400;
    padding: 0 16px;
  }
}
.document-container {
  top: 40px;
}

.site-newsletter-menu {
  &--open {
    border-bottom: 1px solid $gray-200;
  }
}

.page {
  &--website-section-33323 {
    .page-wrapper {
      &__section {
        &:last-child {
          margin-bottom: 60px;
        }
      }
    }
  }
}
.reading-progress-bar {
  background: #15a0d3;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  width: 0%;
  height: 10px;
  z-index: 9000;
}
#credsparkQuiz {
  min-height: 350px;
}
/*! critical:end */
