$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

// Colors
$primary: #FD5208;

$leaders-primary-color: #002f7b;
$leaders-primary-color-light: #005bac;
$leaders-accent-color: #d557af;

// Navbar
$navbarStyle: "navbar-b" !default;
$theme-site-navbar-primary-type: light;
$theme-site-navbar-logo-height: 75px !default;
$theme-site-navbar-secondary-font-size: 16px !default;

@import "@pmmi-media-group/package-global/scss/core";

/*! critical:start */
.ad-container {
  display: none !important;
  visibility: hidden !important;
}

.site-navbar {
  &__right {
    .site-navbar {
      &__idx-newsletter-toggler {
        background-color: $gray-100;
        border-radius: 4px;
        font-size: 1rem;
        height: 40px;
        margin: 0 0 0 12px;
        padding: 0;
        width: 40px;
        border-color: transparent;
        border-style: none;
      }
    }
  }
}
.announcement {
  position: fixed;
  width: 100%;
  height: 40px;
}
.site-header {
  padding-top: 40px;
  position: fixed;
  z-index: 10;
}
.document-container {
  top: calculate-navbar-height-for(default, $additional-padding: 80px);
  padding-bottom: calculate-navbar-height-for(default, $additional-padding: 40px);
}

.sticky-top {
  top: calculate-navbar-height-for(default, $additional-padding: 40px);
  z-index: auto;
}
.page {
  &--website-section, &--content {
    .hero-card {
      &__header {
        display: none;
      }
      &__description-wrapper {
        display: none;
      }
    }
  }
}

.site-newsletter-menu {
  &__container {
    top: calculate-navbar-height-for(default, $additional-padding: 40px);
  }
}

.page {
  &--website-section, &--content {
    .hero-card {
      &__header {
        display: none;
      }
      &__description-wrapper {
        display: none;
      }
    }
  }
}
/*! critical:end */
